* {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

.module-name {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    color: #000 !important;
    margin-left: 0 !important;
    transition: all 0.3s ease;
}
.small-name{
    font-size: 18px;
}
.module-name:hover{
    color: #00a1d6 !important;
}
.module-log{
    transform: translateY(-7px);
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.module-tips{
    margin-left: 30px;
    text-decoration: none;
    color: #99a2aa;
}
.module-tips:hover{
    color: #00a1d6;
}
/* 每个模块公共样式 */
.module-container{
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}
.module-left {
    width: 900px;
    box-sizing: border-box;
    padding-right: 20px;
}
.module-left-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.module-right {
    width: 260px;
}
/*  */
.blbl-tab-item {
    display: inline-block;
    margin-right: 12px;
    height: 20px;
    padding: 2px 0;
    border-bottom: 1px solid transparent;
    line-height: 20px;
    text-decoration: none;
    color: #222;
}
.on {
    border-bottom: 1px solid #00a1d6; 
}
.blbl-icon {
    background-image: url("https://static.hdslb.com/images/base/icons.png");
    background-repeat: no-repeat;
}
.viewer{
    display: inline-block;
    width: 13px;
    height: 10px;
    margin-right: 5px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAKCAYAAABv7tTEAAAAAXNSR0IArs4c6QAAAM1JREFUKBVtjz0KwkAQhUMKi4BCLNJY2EiOY+EBvIKQIrcwpLT2AGmsFcwBBC9gq5WFdSR+b5mFGHbhy868Nz+bKOL0fZ9DAx9DcS4vdGIzW8wrLA3FrTyYww1qmKC7LZq6c8ngIw0aq8mIT1C7EgI9KR3Uez2V53XiBbyVx/D1RuDuApprOmNsA6a0i3Q2ZFwHOCqXsIIX6B/0JKH4CfJm8IAONq7JGguE8Sl8AcYU1nCHvTZVlkiUqcm+oPKNNjzBK9VUQjI0/wrGBvkPlcve4C7jgwAAAAAASUVORK5CYII=);
}

/* 公共动画 */
.tab-change-enter,
.tab-change-leave-to{
    opacity: 0;
}
.tab-change-enter-active,
.tab-change-leave-active{
    transition: all 0.2s ease;
}